<section>
  <h2 id="about-me">Sobre mim</h2>
  <hr class="bar"/>
  <div class="about-lock">
		<a href="https://www.linkedin.com/in/pauloceccon/">
			<div class="glyph-icon flaticon-linkedin"></div>
		</a>
    <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
      <div class="flipper">
        <div class="front">
          <div class="face-img"></div>
        </div><div class="back">
          <div class="face1-img">
          </div>
        </div>
      </div>
    </div>
		<a href="https://www.github.com/PauloCeccon">
			<div class="glyph-icon flaticon-github"></div>
		</a>
  </div>
  <div class="blurb">
    <p>
      	Oi, bem vindo a minha página pessoal!<br><br>
	    
	Estou me formando em Analise e Desenvolvimento de Sistemas. 
	Sou de Valinhos porém trabalho em Campinas para <a href="https://www.facebook.com/ITBRASILSolucoesCorporativas/">IT Brasil</a>.
	Atualmente me qualificando em Python com projetos de web scraping com beautiful soup.
	    
	Interessado em JavaScript, Lógica de Programação, Linux e Vim.

	Está página é um portifólio de minha autoria.
    </p>
  </div>
  <div class="skill-lock">
  </div>
</section>
