<section>
  <h2 id="about-me">About Myself</h2>
  <hr class="bar"/>
  <div class="about-lock">
		<a href="https://www.linkedin.com/in/vdutor/">
			<div class="glyph-icon flaticon-linkedin"></div>
		</a>
    <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
      <div class="flipper">
        <div class="front">
          <div class="face-img"></div>
        </div><div class="back">
          <div class="face1-img">
          </div>
        </div>
      </div>
    </div>
		<a href="https://www.github.com/vdutor">
			<div class="glyph-icon flaticon-github"></div>
		</a>
  </div>
  <div class="blurb">
    <p>
      	Hi, welcome to my personal webpage!<br><br>
	    
	I graduated as a Computer Science Engineer from Ghent University in 2017, where I specialized in software development and machine learning. 
	I'm originally from Belgium but moved to Cambridge UK to work for <a href="https://www.prowler.io">Prowler.io</a>.
	I am a Machine Learning Researcher in the probabilistic modelling team, mainly working on cutting-edge Gaussian Process based models.<br>
	    
	I'm interested in Machine Learning, nice code, Linux and Vim. I also love cooking and football.

	On this page, I will write over my personal projects and occasionally blog.
    </p>
  </div>
  <div class="skill-lock">
  </div>
</section>
