<div class="history">
	<div class="cd-timeline-header">
		<h2 id="Experenice">Experiencia</h2>
		<hr class="bar"/>
	</div>
	<section id="cd-timeline" class="cd-container">


    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"><img src="../assets/img/graduate38.svg" alt="Picture"/></div>
      <!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2>FATEC CAMPINAS: Analise e Desenvolvimento de Sistemas</h2>
        <p>
					Ingresso na Faculdade de Tecnologia de Campinas em 2019.
					Na universidade eu estou obtendo conhecimentos sobre: 
					Lógica de Programação, programação em C, programação em JavaScript, HTML e CSS para WEB, programação em Java orientada a objetos.
					Dentre outras qualificações...</p>
					
        <span class="cd-date">Julho 2019 - Julho 2021</span>
      </div>
      <!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"><img src="../assets/img/web-programming.svg" alt="Picture"/></div>
      <!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2>Experiência com Shell Linux</h2>
        <p>
					Iniciei meus processos de aprendizado com Shell Script e com o trabalho Open Source no Github.</p>
        <span class="cd-date">Outubro 2019</span>
      </div>
      <!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>

    <!-- NTU -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture"/></div>
      <!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2 class="story-heading">Iniciação com ChatBots</h2>
        <p>
					Iniciação aos estudos de Processamento de Linguagem Natural com DialogFlow e IBM Watson, utilização de API'S e da plataforma Blip. 
					Começo a desenvolver ChatBots simples para resolução de problemas empresariais.
				</p>
        <span class="cd-date">Novembro 2019</span>
      </div>
      <!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>

		<!--Masterin Ciencie Study-->
			<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture"><img src="../assets/img/graduate38.svg" alt="Picture"/></div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2 class="story-heading">Master in Science: Computer Engineering</h2>
				<p>
					In june 2017 I obtained my Master's Degree in Computer Science Engineering from Ghent University.
					In my master I focused primarly on Machine Learning and Robotics.
					In my master's thesis, I studied Bayesian Machine Learning and more precisely "(Deep) Gaussian Processes".
					A copy of my thesis can be found here: <a href="https://lib.ugent.be/fulltxt/RUG01/002/367/115/RUG01-002367115_2017_0001_AC.pdf">UGent lib</a>.
				</p>
				<span class="cd-date">2012-2017</span>
			</div>
			<!-- cd-timeline-content--><!-- cd-timeline-block-->
		</div>
		
		
	<div class="cd-timeline-block">
      		<div class="cd-timeline-img cd-picture"><img src="../assets/img/dart13.svg" alt="Picture"/></div>
      		
		<div class="cd-timeline-content">
        		<h2>Inicio de Estágio <a href="https://www.prowler.io/">Prowler.io</a></h2>
        			<p>
					Em <a href="https://it-brasil.odoo.com/">IT Brasil</a> Atuando na Squad de desenvolvimento, prestando suporte ao time de tecnologia no processo de transformação digital.</a>.
				</p>
			
     			<span class="cd-date">Outubro 2019</span>
     		</div>
	</div>
			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-location"><img src="../assets/img/question30.svg" alt="Location"/></div>
			</div>
			<!-- cd-timeline-->
		</div>
	</section>
	<div class="cd-timeline-header">
		<h2></h2>
	</div>
</div>
